.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 2px dotted skyblue;
    border-radius: 10px;
    margin: 2rem;
    width: 100%;
}
.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}
.marleft{
    margin-left: 1.5rem;
}
.icon-style{
    font-size: 3rem;
    color: orange;

}