.add-widget {
    font-size: 4rem;
    padding: 0.5%;
    display: block;
    text-align: center;
    border: 2px solid skyblue;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 20% 0 20%;
}

.add-widget:hover
{
    background-color:orange;
    color:white;
}
