
.job-id {
  width: 30vw;
  padding: 1em;
  border: 1px solid skyblue;
  font-size: 1.2rem;
  color: black;
  transition: all 0.3s; /* Add animation transition */
  border-radius: 5px; /* Add rounded border */
}

.job-id:hover {
  background-color: orange; /* Replace with your desired background color */
  transform: scale(1.1); /* Enlarge the element */
  border-radius: 10px; /* Increase border radius on hover */
}

.push-right{
  margin-left: 10vw;
}

