.timer {
    border: 5px solid skyblue;
    display: inline;
    font-size: 32px;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 10px;
    padding: 1rem;
    width: 50%;
    text-align: center;
}