.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
    border: 5px solid skyblue;
    border-radius: 10px;
    position: fixed; /* Sit on top of the page content */
    width: 50%; /* Full width (cover the whole page) */
    height: 50%;
    left:15%;
    top:1rem; /* Full height (cover the whole page) */
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
.input-style{
    padding: 1%;
    margin: 2%;
    width: 80%;
}

.input-style:focus{
    border: 1px solid rgba(81, 203, 238, 1);
}
